@model Dreadmare.DTOModels.ReviewsViewModel

@{
    ViewBag.Title = "GetReviews";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div id="PageTitle" style="position: absolute; top: 150px; left: 250px; ">
    <img src="~/Images/MovieReviews.png" />
</div>
<table cellpadding='0' cellspacing='0' style ="padding-left: 200px; position: absolute; top: 300px;">
    <tr><td class="HeaderRow TitleColumn">Movie Title</td><td class="HeaderRow ScoreColumn">Rating</td></tr>
    @if (Model != null)
    {
        foreach (var movie in Model.Reviews)
        {
            <tr><td>@movie.MovieTitle</td><td class ="ScoreColumns">@movie.OverAllPoints</td></tr>
        }
    }
</table>


