@model Dreadmare.DTOModels.ReviewsViewModel

@{
    ViewBag.Title = "GetReviews";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<table>
    <tr><td class="HeaderRow TitleColumn">Movie Title</td><td class="HeaderRow ScoreColumn">Overall Score</td></tr>
    @if (Model != null)
    {
        foreach (var movie in Model.Reviews)
        {
            <tr><td>@movie.MovieTitle</td><td>@movie.OverAllPoints</td></tr>
        }
    }
</table>

