@model Dreadmare.DTOModels.GetReviews

<div style="height: 600px; background-color: black;">
    <div class="Review-Movie-TItle">@Model.MovieTitle</div>
    <div style="color:silver">@Model.ReviewTitle</div>
    <div style="color:whitesmoke">@Model.Review</div>
    <div style="color:red">@Model.Reviewer</div>
</div>