@model Dreadmare.DTOModels.GetReviews

<div style="height: 600px; background-color: black;">
    <div class="Review-Movie-TItle">@Model.MovieTitle</div>
    <div class="Review-Review-TItle">@Model.ReviewTitle</div>
    <div class="Review-Review">@Model.Review</div>
    <div class="Review-Reviewer">@Model.Reviewer</div>
</div>