@model Dreadmare.DTOModels.GetReviews

@{
    ViewBag.Title = "WriteReview";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>WriteReview</h2>
<div>Search for movie to review<input onkeypress="MovieSearch()" id ="searchText" type="text" placeholder="Enter at least 5 letters"/><button onclick="MovieSearch()" type="button">Search</button></div>
<div style="width: 250px;height: 200px; overflow: scroll;overflow-x: hidden;">
    <table id="ChooseMovie"></table>
</div>
<script>
    function MovieSearch() {
        var search = document.getElementById("searchText");
        if (search.value.length < 4) {
            //alert("Please enter at least 3 letters of the Movie Title");
            return;
        }
        var results;
        var r;
        $.ajax({

            url: 'http://www.omdbapi.com/?s=' + search.value + '*&apikey=c1eac364',
            type : 'GET',

            dataType:'json',
            success: function (data) {
                var n = data.Search.length;
                
                for (i = 0; i < n; i++) { 
                    var s = JSON.stringify(data.Search[i]);
                    var res = JSON.parse(s);
                    $('#ChooseMovie').append('<tr><td>' + res.Title + '</td></tr>');
                    
                }
                //alert(r);
            },
            error : function(request,error)
            {
                alert("Request: "+JSON.stringify(request));
            }
        });
    }
</script>