
@font-face {
    font-family: 'The Macabre';
    src: url('The Macabre.otf') format('opentype');
}


body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black;
    color: lightgray;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*Review Tables*/
.HeaderRow {
    background-image: url('../Images/ReviewHeader.gif');
    font-size: 22pt;
    font-family: The Macabre;
    color: black;
    text-align: center;
}

.ReviewRow {
    font-size: 16pt;
    font-family: The Macabre;
    text-align: center;
    padding-top: 10px;
}
.MovieTitle{
    color: whitesmoke;
}
.MovieTitle:hover {
   color: maroon;
}

.TitleColumn {
    width: 300px;
    text-align: left;
    padding-left: 10px;
}

.ScoreColumn {
    width: 100px;
}

.ReviewdByColumn {
    width: 250px;
}
.ReviewdDateColumn {
    width: 250px;
}







